{% extends "base.html" %}

{% block content %}
  {% for post in posts %}
    <article class="blog-post card mb-4 shadow-sm border-0">
      <div class="card-body">
        <h2 class="card-title">
          <a href="/post" class="text-decoration-none text-dark">
            {{ post.title }}
          </a>
        </h2>
        <p class="card-subtitle text-muted mb-2">
          By <strong>{{ post.author }}</strong> on {{ post.date }}
        </p>
        <p class="card-text">
          {{ post.content[:300] }}...
        </p>
        <a href="{{ url_for('post.post', post_id=post.id) }}" class="btn btn-sm btn-outline-primary">Read More</a>
      </div>
    </article>
  {% endfor %}
{% endblock content %}